<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get-it</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/getit.css" />
  </head>
  <body>
    <div class="appbar">
      <img src="/static/img/logo-getit.png" class="logo" />
      <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </div>

    <main class="container">
      <div class="form-wrapper">
        <div class="back-btn-wrapper">
          <a class="back-btn" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-left"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
            <span>Voltar</span>
          </a>
        </div>
        <form method="post" class="form-card form-card-tight">
          <input
            class="form-card-title"
            type="text"
            name="titulo"
            placeholder="Título"
          />
          <textarea
            class="autoresize"
            name="detalhes"
            placeholder="Digite o conteúdo..."
          ></textarea>
          <button class="btn" type="submit">Editar</button>
        </form>
      </div>
    </main>

    <script type="text/javascript" src="/static/js/getit.js"></script>
    <script type="text/javascript" src="/static/js/edit.js"></script>
    <script>
      fetchNote({note_id})
    </script>
  </body>
</html>
