<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get-it</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/getit.css" />
  </head>
  <body>
    <div class="appbar">
      <img src="/static/img/logo-getit.png" class="logo" />
      <span class="subtitle">Como o Post-it, mas com outro verbo</span>
    </div>

    <main class="container">
      <div class="form-wrapper">
        <form method="post" class="form-card">
          <input
            class="form-card-title"
            type="text"
            name="titulo"
            placeholder="Título"
          />
          <textarea
            class="autoresize"
            name="detalhes"
            placeholder="Digite o conteúdo..."
          ></textarea>
          <div class="color-picker-container">
              <fieldset>
                  <input class="color-picker-radio card-color-4" type="radio" name="color" value="yellow" checked />
                  <input class="color-picker-radio card-color-1" type="radio" name="color" value="brown" />
                  <input class="color-picker-radio card-color-2" type="radio" name="color" value="blue" />
                  <input class="color-picker-radio card-color-3" type="radio" name="color" value="pink" />
                  <input class="color-picker-radio card-color-5" type="radio" name="color" value="green" />
              </fieldset>
          </div>
          <button class="btn" type="submit">Criar</button>
        </form>
      </div>
      <div class="card-container">{notes}</div>
    </main>

    <script type="text/javascript" src="/static/js/getit.js"></script>
    <script type="text/javascript" src="/static/js/notes.js"></script>
  </body>
</html>
